@page "/Add-Product"
@model KeyboardMarket.Pages.AddProductModel
@{
}



    <form method="post" asp-page-handler="AddProduct">

        <!--Title-->
        <input type="text" name="title"/>
        <!--Price-->
        <input type="text" name="price"/>
        <!--Currency-->
        <select name="land">
            @foreach (var land in Model.Lands)
            {
                <option value="@land.ID">@land.Value</option>
            }
        </select>
        <!--Land-->
        <select name="currency">
            @foreach(var currency in Model.Currencies)
            {
                <option value="@currency.ID">@currency.Value</option>
            }
        </select>

        <input type="submit" value="Add product"/>
    </form>


