@page "/Add-Product"
@model KeyboardMarket.Pages.AddProductModel
@{
}



    <form method="post">

        <!--Title-->
        <input type="text"/>
        <!--Price-->
        <input type="text"/>
        <!--Currency-->
        <select>
            <option>EUR</option>
            <option>USD</option>
        </select>
        <!--Land-->
        <select>
            <option>Austria</option>
            <option>Sweden</option>
        </select>


    </form>


