@page "/Add-Product"
@model KeyboardMarket.Pages.AddProductModel
@{
}



    <form method="post">

        <!--Title-->
        <input type="text"/>
        <!--Price-->
        <input type="text"/>
        <!--Currency-->
        <select>
        </select>
        <!--Land-->
        <select>
            @foreach(var currency in Model.Currencies)
            {
                <option value="@currency.ID">@currency.Value</option>
            }
        </select>


    </form>


