@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@using System.Security.Claims;
@if (User.Identity.IsAuthenticated)
{
    var identity = User.Identity as ClaimsIdentity;
    <h1>You are logged in as @User.Identity.Name</h1>
    <a href="Add-Product">Produkt hinzufügen</a>
    <a href="Products">Produkte Anzeigen</a>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

}


