@page "/login"
@model KeyboardMarket.Pages.LoginModel
@{
}



<h1>Login Page</h1>


<form asp-page-handler="LoginMicrosoft" method="post">
    <input type="submit" value="Login wiht Microsoft"/>
</form>